@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar styling */
nav {
    background-color: violet !important;
}

/* Navbar hover effect */
nav a:hover {
    color: orange !important;
}

/* Student boxes hover effect */
.student-box:hover {
    background-color: violet !important;
}
